<div
  class="justifycontentend"
  style="background-color: rgb(12, 91, 137); height: 100px"
>
  <!-- <p>Hi</p> -->
  <span style="display: flex; justify-content: end; align-items: center">
    <h5
      style="
        margin-right: 150px;
        font-size: xx-large;
        justify-content: center;
        align-items: center;
        color: aliceblue;
        margin-top: 30px;
      "
    >
      TAA Online
    </h5>
    <img
      src="../../../assets/Arthavedika.png"
      style="height: 45px; margin-top: 25px"
      alt=""
    />
    <img
      src="../../../assets/682-6829362_wipro-logo-png.png"
      style="height: 45px; margin-top: 25px"
      alt="Makespay.png"
    />
    <img
      src="../../../assets/Arthavedika.png"
      style="height: 45px; margin-top: 25px; margin-right: 100px"
      alt="shareindia.png"
    />
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <input
        style="justify-self: center; margin-top: 25px; border-radius: 5px"
        type="text"
        formControlName="mobile"
        placeholder="Mobile"
        onKeyPress="if(this.value.length==10) return false;"
      />
      <input
        style="
          justify-self: center;
          margin-top: 20px;
          margin-left: 20px;
          border-radius: 5px;
        "
        type="password"
        formControlName="pin"
        placeholder="M-Pin"
      />
      <button
        type="submit"
        class="btn btn-success"
        style="
          margin-top: 0px;
          margin-left: 20px;
          background-color: rgb(12, 91, 137);
        "
      >
        Sign in
      </button>
      <button
        type="submit"
        class="btn btn-success"
        style="
          margin-top: 0px;
          margin-left: 20px;
          background-color: rgb(12, 91, 137);
        "
        (click)="forgetPassword()"
      >
        Forget Pin
      </button>
      <!-- <button (click)="hi()">Hi</button> -->
    </form>
  </span>
</div>
<div class="centerNumberDiv">
  <h3 style="color: rgb(12, 91, 137);font-size: 35px;">Welcome to Truckers Advance Authorisation System</h3>
  <p style="width: 85%; font-size: 25px; margin-top: 25px;margin-left: 10px;font-family: serif;align-items:last baseline;">
   
  </p>
 
</div>

<!-- <div class="centerNumberDiv">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <div class="d-flex justify-content-center pb-1 pt-4">
      <h3>Welcome to Borrower Authorisation Application</h3>
    </div>

    <div class="pt-3 pb-3">
      <div style="padding-left: 15px; padding-right: 15px">
        <input
          type="number"
          formControlName="mobile"
          placeholder="Mobile"
          class="form-control"
          onKeyPress="if(this.value.length==10) return false;"
        />
      </div>
      <div
        *ngIf="formSubmitted && loginForm.get('mobile')?.hasError('required')"
        style="color: red; padding-left: 15px"
      >
        Enter a valid mobile no.
      </div>
    </div>
    <div class="pt-2 pb-1">
      <div style="padding-left: 15px; padding-right: 15px">
        <input
          type="password"
          formControlName="pin"
          placeholder="M-Pin"
          class="form-control"
        />
      </div>
      <div
        *ngIf="formSubmitted && loginForm.get('pin')?.hasError('required')"
        style="color: red; padding-left: 15px"
      >
        Enter pin
      </div>
    </div>

    <div
      class="d-flex justify-content-center pt-3"
      style="align-items: center"
    >
      <button type="submit" class="btn btn-success">Login</button>
      <button type="button" class="btn btn-danger" style="margin-left: 10px" (click)="forgetPassword()">
        Forget Mpin
      </button>
    </div>
  </form>
</div> -->
