<div style="padding-left: 25px;">
    <div
      class="col-lg-4 col-md-4 col-sm-4 col-6 d-flex"
      style="align-items: center"
    ></div>
   
    <div
      class="container-fluid"
      style="border: 15px solid rgb(223, 220, 220); padding-top: 0px"
    >
      <div class="d-flex justify-content-center pt-2 pb-3">
        <h3>Applicant's Info</h3>
      </div>
  
      <div class="row pt-3 pb-3">
        <div
          class="col-lg-6 col-md-6 col-sm-6 col-6"
          style="border-right: 2px solid rgb(203, 200, 200)"
        >
          <div class="block">
            <label> <b>Applicant Id</b></label>
            
            {{ borrowerDetail.applicant_id }}
            
          </div>
          <div class="block">
            <label> <strong>From Location</strong></label>
            {{ borrowerDetail.from_location }}
          </div>
          <div class="block">
            <label> <strong>To Location</strong></label>
            {{ borrowerDetail.to_location }}
          </div>
          <div class="block">
            <label> <strong>Start Journey Date</strong></label>
            {{ borrowerDetail.start_date_journey }}
          </div>
          <div class="block">
            <label> <strong>End Journey Date</strong></label>
            {{ borrowerDetail.end_date_journey_expected }}
          </div>
          <div class="block">
            <label> <strong>Advance Amount</strong></label>
            {{ borrowerDetail.advance_amount }}
          </div>
          <div class="block">
            <label> <strong>Return Date Expected</strong></label>
            {{ borrowerDetail.return_date_amount_expected }}
          </div>
          <div class="block">
            <label> <strong>Truck No.</strong></label>
            {{ borrowerDetail.truck_number }}
          </div>
         
         
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
          <!-- <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-6"> -->
              <div class="block">
                <label> <strong>Raised User Id</strong></label>
                {{ borrowerDetail.raised_user_id }}
              </div>
              <div class="block">
                <label> <strong>Approved User Id</strong></label>
                <!-- <input type="text" [(ngModel)]="approvedUserId"> -->
                {{ this.user }}
              </div>
              <div class="block">
                <label> <strong>Account No.</strong></label>
                {{ borrowerDetail.account_no }}
              </div>
              <div class="block">
                <label> <strong>IFSC Code</strong></label>
                {{ borrowerDetail.ifsc_code }}
              </div>
              <div class="block">
                <label> <strong>Approved amount</strong></label>
                <!-- {{ borrowerDetail.approved_amount }} -->
                <input type="number" [(ngModel)]="approvedAmount">
              </div>
              <div class="block">
                <label> <strong>Comment by MK</strong></label>
                {{ borrowerDetail.comment_by_mk }}
              </div>
              <div class="block">
                <label> <strong>Comment by SH</strong></label>
                {{ borrowerDetail.commenyt_by_sh }}
              </div>
              <div class="block">
                <label> <strong>Approved Status</strong></label>
                <!-- {{ borrowerDetail.approval_status }} -->
                <span *ngIf="this.status =='Y'"> Approved</span>
                <span *ngIf="this.status =='N'"> Rejected</span>
                <span *ngIf="this.status =='S'"> Initiated</span>
              </div>
            
            <!-- </div>
              raise travel advance request
              travel advance request list
          </div> -->
        </div>
      </div>
    
     
      <div
        class="col-lg-4 col-md-4 col-sm-4 col-6 d-flex"
        style="align-items: center"
      >
        <button
          type="button"
          class="btn btn-success"
          (click)="back()"
          style="margin: 15px;background-color: rgb(12, 91, 137)"
        >
          Back
        </button>
        <div *ngIf="msg == true">
        <button
        type="button"
        class="btn btn-success"
        (click)="saveAdvanceDetail()"
        style="margin: 15px;background-color: rgb(12, 91, 137)"
      >
        Save
      </button>
      <button
      type="button"
      class="btn btn-success"
      (click)="reject()"
      style="margin: 15px;background-color: rgb(12, 91, 137)"
    >
      Reject
    </button>
    </div>
      </div>
      <div
      class="col-lg-4 col-md-4 col-sm-4 col-6 d-flex"
      style="align-items: center"
    >
      <!-- <button
        type="button"
        class="btn btn-success"
        (click)="update()"
        style="margin: 15px;margin-top: 5px; background-color: rgb(12, 91, 137)"
      >
        Update
      </button> -->
     
    </div>
    </div>
    <ng-template #mymodal1 let-modal1>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
          Select Applicant
        </h4>
      </div>
      <div class="modal-body" style="height: 500px">
        
          <!-- <table>
            <thead style=" background-color: hsl(215, 83%, 28%);color: aliceblue;border: 2px solid black;">
              <tr>
                <th scope="col">Applicant ID</th>
                <th scope="col">Applicant name</th>
                
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of applicantsData">
                <td>{{ item.applicant_id }}</td>
                <td>{{ item.applicant_firstname}}</td>
              </tr>
            </tbody>
          </table> -->
          <div class="container-fluid">
            
            <div  style="padding-left: 4%; padding-right: 4%; padding-top: 2%">
              <div class="card p-3 customCard">
                <!-- <div class="d-flex justify-content-end pt-1 pb-2">
                  <input type="text" class="form-control" #filterInput placeholder="Filter" style="width: 200px" />
          
                </div> -->
                <ngx-datatable class="bootstrap bgmatch" style="width: 100%" [rows]="applicantsData" [columnMode]="'flex'"
                  [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [limit]="6">

                  <ngx-datatable-column name="Select" [flexGrow]="1" [resizeable]="false">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <a class="nav-link" style="color: black; width: 447px; padding-left: 0" >
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="{{row?.applicant_id}}" [(ngModel)]="userId">
                      </a>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column name="Applicant Id" [flexGrow]="1.5" [resizeable]="false">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <a class="nav-link" style="color: black; width: 447px; padding-left: 0" >
                         {{ row?.applicant_id }}
                       
                      </a>
                    </ng-template>
                  </ngx-datatable-column>
                  <hr />
                  
                  <ngx-datatable-column name="Name" [flexGrow]="2" [resizeable]="false">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <a class="nav-link tableAtag disableTextSelection" >
                        <span> {{ row?.applicant_name | titlecase }}</span>
                        <span style="padding-left: 5px">
                          {{ row?.applicant_lastname | titlecase }}</span>
                      </a>
                    </ng-template>
                  </ngx-datatable-column>
                 
                </ngx-datatable>
              </div>
            </div>
          
              </div>
      </div>
      <div class="modal-footer">
        <button type="button" ngbAutofocus class="btn btn-primary" (click)="modal1.close(getId())">
          Submit
        </button>
        <button type="button" class="btn btn-secondary" (click)="modal1.dismiss(cancel())">
          Cancel
        </button>
      </div>
    </ng-template>
  </div>
  