.centerNumberDiv{
    position: absolute;top: 55%;left: 50%; width: 50em;
  height: 30em;
  transform: translate(-50%, -50%);
  //  background-color:#8ad1fe;
  // position: fixed;
  }
  .cls{
    justify-content: center;
    align-items: center;
    display: flex;
    // background-color: black;
}
h3{
    color: white;

    margin-left: 20px;
    
}