
<div class="centerNumberDiv">
  <form [formGroup]="loginForm" (ngSubmit)="modifyUser()" class="row g-3">
    <div class="d-flex justify-content-center pb-1 pt-4">
      <h3 style="color: black;">Update Applicant</h3>
    </div>
  
    <div class="col-md-6">
      <div style="padding-left: 15px; padding-right: 15px">
          <label for="inputState2" class="form-label"> Applicant Name </label><span style="color: red;"> *</span>
        <input
          type="text"
          formControlName="firstName"
        
          class="form-control"
        />
      </div>
  </div>
  <div class="col-md-6">
      <div style="padding-left: 15px; padding-right: 15px">
          <label for="inputState2" class="form-label"> Date Of Birth </label><span style="color: red;"> *</span>
        <input
          type="date"
          
      
          class="form-control"
        />
      </div>
  </div>
  <div class="col-md-6">
    <div style="padding-left: 15px; padding-right: 15px">
      <label for="inputState2" class="form-label"> Applicant age </label><span style="color: red;"> *</span>
      <input
        type="number"
        formControlName="age"
        class="form-control"
     
      />
    </div>
  </div>
  
  <div class="col-md-6">
      <div style="padding-left: 15px; padding-right: 15px">
          <label for="inputState2" class="form-label">Marital status</label><span style="color: red;"> *</span>
          <select id="inputState2 " class="form-control" formControlName="marital" name="house">
            <option selected *ngFor="let item of maritalStatus" value="{{item.id}}">{{item.name}}</option>
          </select>
        </div>
  </div>
  <div class="col-md-6">
      <div style="padding-left: 15px; padding-right: 15px">
          <label for="inputState2" class="form-label"> Applicant father name </label><span style="color: red;"> *</span>
          <input
            type="text"
            formControlName="fatherName"
            
            class="form-control"
          />
        </div>
  </div>
  
  
  <div class="col-md-6">
      <div style="padding-left: 15px; padding-right: 15px">
          <label for="inputState2" class="form-label"> Spouse Name</label><span style="color: red;"> *</span>
        <input
          type="email"
          formControlName="spouseName"
         
          class="form-control"
        />
      </div>
  </div>
  
  <div class="col-md-6">
      <div style="padding-left: 15px; padding-right: 15px">
          <label for="inputState2" class="form-label"> Religion </label><span style="color: red;"> *</span>
          <select id="inputState2 " class="form-control" formControlName="religion" name="house">
            <option selected *ngFor="let item of relegion" value="{{item.id}}">{{item.name}}</option>
          </select>
      </div>
  </div>
  
  <div class="col-md-6">
      <div style="padding-left: 15px; padding-right: 15px">
          <label for="inputState2" class="form-label"> Applicant Address</label><span style="color: red;"> *</span>
        <input
          type="email"
          formControlName="address"
        
          class="form-control"
        />
      </div>
  </div>
  
  <div class="col-md-6">
      <div style="padding-left: 15px; padding-right: 15px">
          <label for="inputState2" class="form-label"> City Name </label><span style="color: red;"> *</span>
        <input
          type="email"
          formControlName="city"
          
          class="form-control"
        />
      </div>
  </div>
  
  <div class="col-md-6">
      <div style="padding-left: 15px; padding-right: 15px">
          <label for="inputState2" class="form-label">Pin Code</label><span style="color: red;"> *</span>
        <input
          type="number"
          formControlName="pin"
        
          class="form-control"
        />
      </div>
  </div>
  
  <div class="col-md-6">
      <div style="padding-left: 15px; padding-right: 15px">
          <label for="inputState2" class="form-label"> Company Name</label><span style="color: red;"> *</span>
        <input
          type="email"
          formControlName="companyName"
     
          class="form-control"
        />
      </div>
  </div>
  
  <div class="col-md-6">
      <div style="padding-left: 15px; padding-right: 15px">
          <label for="inputState2" class="form-label">Vehicle No.</label><span style="color: red;"> *</span>
        <input
          type="email"
          formControlName="vehicle"
          
          class="form-control"
        />
      </div>
  </div>
  
  <div class="col-md-6">
      <div style="padding-left: 15px; padding-right: 15px">
          <label for="inputState2" class="form-label">Applicant Qualification</label><span style="color: red;"> *</span>
        <select id="inputState2 " class="form-control" formControlName="qualification" name="house">
          <option selected *ngFor="let item of qualification" >{{item.name}}</option>
        </select>
      </div>
  </div>
  
  <div class="col-md-6">
      <div style="padding-left: 15px; padding-right: 15px">
          <label for="inputState2" class="form-label"> Applicant employment Type </label><span style="color: red;"> *</span>
          <select id="inputState2 " class="form-control" formControlName="employment" name="house">
            <option selected *ngFor="let item of jobType" value="{{item.id}}">{{item.name}}</option>
          </select>
      </div>
  </div>
  
  <div class="col-md-6">
      <div style="padding-left: 15px; padding-right: 15px">
          <label for="inputState2" class="form-label"> Applicant Mobile No. </label><span style="color: red;"> *</span>
        <input
          type="email"
          formControlName="mobile"
          
          class="form-control"
        />
      </div>
  </div>
  
  <div class="col-md-6">
      <div style="padding-left: 15px; padding-right: 15px">
          <label for="inputState2" class="form-label"> No. of Family No. </label><span style="color: red;"> *</span>
        <input
          type="email"
          formControlName="familyMember"
         
          class="form-control"
        />
      </div>
  </div>
  
  <div class="col-md-6">
      <div style="padding-left: 15px; padding-right: 15px">
          <label for="inputState2" class="form-label"> No. of Earnig Member </label><span style="color: red;"> *</span>
        <input
          type="email"
          formControlName="earningMember"
       
          class="form-control"
        />
      </div>
  </div>
  
  <div class="col-md-6">
    <div style="padding-left: 15px; padding-right: 15px">
      <label for="inputState2" class="form-label"> House Type  </label><span style="color: red;"> *</span>
        <select id="inputState2 " class="form-control" formControlName="houseType" name="house">
          <option selected *ngFor="let item of houseType" >{{item.name}}</option>
        </select>
    </div>
  </div>
  
  <div class="col-md-6">
      <div style="padding-left: 15px; padding-right: 15px">
          <label for="inputState2" class="form-label">Medical Insurance </label>
        <select id="inputState2 " class="form-control" formControlName="medicalInsurance" name="house">
          <option selected *ngFor="let item of medical" value="{{item.id}}">{{item.name}}</option>
        </select>
      </div>
  </div>
  
  <div class="col-md-6">
      <div style="padding-left: 15px; padding-right: 15px">
          <label for="inputState2" class="form-label">Current loan outstanding Principle</label><span style="color: red;"> *</span>
        <input
          type="number"
          formControlName="principle"
         
          class="form-control"
        />
      </div>
  </div>
  
  <div class="col-md-6">
      <div style="padding-left: 15px; padding-right: 15px">
          <label for="inputState2" class="form-label"> Current loan outstanding interest</label><span style="color: red;"> *</span>
        <input
          type="number"
          formControlName="intrest"
          
          class="form-control"
        />
      </div>
  </div>
  
  <div class="col-md-6">
      <div style="padding-left: 15px; padding-right: 15px">
          <label for="inputState2" class="form-label">Applicant income</label><span style="color: red;"> *</span>
        <input
          type="number"
          formControlName="income"
          
          class="form-control"
        />
      </div>
  </div>
  
  <div class="col-md-6">
      <div style="padding-left: 15px; padding-right: 15px">
          <label for="inputState2" class="form-label">Income from other sources </label><span style="color: red;"> *</span>
        <input
          type="number"
          formControlName="otherIncome"
          
          class="form-control"
        />
      </div>
  </div>
  
  <div class="col-md-6">
      <div style="padding-left: 15px; padding-right: 15px">
          <label for="inputState2" class="form-label"> Houserent</label><span style="color: red;"> *</span>
        <input
          type="number"
          formControlName="houseRent"
         
          class="form-control"
        />
      </div>
  </div>
  
  <div class="col-md-6">
      <div style="padding-left: 15px; padding-right: 15px">
          <label for="inputState2" class="form-label"> House renovation expenses</label><span style="color: red;"> *</span>
        <input
          type="number"
          formControlName="renovation"
       
          class="form-control"
        />
      </div>
  </div>
  
  <div class="col-md-6">
      <div style="padding-left: 15px; padding-right: 15px">
          <label for="inputState2" class="form-label">total monthly bill payment</label><span style="color: red;"> *</span>
        <input
          type="number"
          formControlName="monthlyBill"
      
          class="form-control"
        />
      </div>
  </div>
  
  <div class="col-md-6">
      <div style="padding-left: 15px; padding-right: 15px">
          <label for="inputState2" class="form-label">applicant expense monthly</label><span style="color: red;"> *</span>
        <input
          type="number"
          formControlName="expenseMonthly"
          
          class="form-control"
        />
      </div>
  </div>
  
  <div class="col-md-6">
      <div style="padding-left: 15px; padding-right: 15px">
          <label for="inputState2" class="form-label">ration Card</label><span style="color: red;"> *</span>
          <select id="inputState2 " class="form-control" formControlName="medicalInsurance" name="house">
            <option selected *ngFor="let item of rationType" value="{{item.id}}">{{item.name}}</option>
          </select>
      </div>
  </div>
  
  <div class="col-md-6">
      <div style="padding-left: 15px; padding-right: 15px">
          <label for="inputState2" class="form-label"> nominee name </label><span style="color: red;"> *</span>
        <input
          type="email"
          formControlName="nomineeName"
          
          class="form-control"
        />
      </div>
  </div>
  
  <div class="col-md-6">
      <div style="padding-left: 15px; padding-right: 15px">
          <label for="inputState2" class="form-label">Food expenses</label><span style="color: red;"> *</span>
        <input
          type="number"
          formControlName="food"
          class="form-control"
        />
      </div>
  </div>
  <div class="col-md-6">
      <div style="padding-left: 15px; padding-right: 15px">
          <label for="inputState2" class="form-label">nominee age</label><span style="color: red;"> *</span>
        <input
          type="number"
          formControlName="nomineeAge"
         
          class="form-control"
        />
      </div>
  </div>
  <div class="col-md-6">
      <div style="padding-left: 15px; padding-right: 15px">
          <label for="inputState2" class="form-label">nominee relation</label><span style="color: red;"> *</span>
        <input
          type="email"
          formControlName="nomineeRelation"
         
          class="form-control"
        />
      </div>
  </div>
  
  
    <!-- <div class="d-flex justify-content-center pt-3">
      <button type="submit" class="btn btn-success">Login</button>
    </div> -->
    <div
      class="d-flex justify-content-center pt-3"
      style="align-items: center"
    >
    <button type="button" class="btn btn-success" style="margin-left: 10px;background-color: rgb(12, 91, 137)" (click)="back()">
      Back
    </button>
      <button type="submit" class="btn btn-success" style="margin-left: 10px;background-color: rgb(12, 91, 137)" (click)="modifyUser()">
        Submit
      </button>
      <button type="button" class="btn btn-success" style="margin-left: 10px;background-color: rgb(12, 91, 137)" (click)="clear()">
        Clear
      </button>
    </div>
  </form>
  </div>
  