<div
  class="justifycontentend"
  style="background-color: rgb(12, 91, 137); height: 100px"
>
  <div style="display: flex; justify-content: end; align-items: center">
    <button
      type="submit"
      class="btn btn-success"
      style="
        margin: 20px;
        margin-left: 20px;
        background-color: rgb(12, 91, 137);
      "
      (click)="onLogin()"
    >
      Sign in
    </button>
  </div>
</div>
<div class="centerNumberDiv">
  <form [formGroup]="resetForm" (ngSubmit)="resetPass()">
    <div class="d-flex justify-content-center pb-1 pt-4">
      <h3 style="color: black">Forget M-pin</h3>
    </div>
    <div class="pt-3 pb-3">
      <div style="padding-left: 15px; padding-right: 15px">
        <input
          type="number"
          formControlName="mobile"
          placeholder="Mobile"
          class="form-control"
          onKeyPress="if(this.value.length==10) return false;"
        />
      </div>
      <div
        *ngIf="formSubmitted && resetForm.get('mobile')?.hasError('required')"
        style="color: red; padding-left: 15px"
      >
        Enter a valid mobile no.
      </div>
    </div>

    <div class="d-flex justify-content-center pt-3" style="align-items: center">
      <div *ngIf="otpButton == true">
        <button
        type="submit"
        class="btn btn-success"
        style="margin-left: 10px; background-color: rgb(12, 91, 137)"
        (click)="resetPass()"
      >
        Get Otp
      </button>
    </div>
    </div>
    <div *ngIf="msg == true">
      <div class="pt-2 pb-1">
        <div style="padding-left: 15px; padding-right: 15px">
          <input
            type="password"
            formControlName="otp"
            placeholder="Otp"
            class="form-control"
            onKeyPress="if(this.value.length==4) return false;"
          />
        </div>
        <div
          *ngIf="formSubmitted && resetForm.get('pin')?.hasError('required')"
          style="color: red; padding-left: 15px"
        >
          Enter Otp
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center pt-3" style="align-items: center">
    <div *ngIf="resendButton == true">
        <button
        type="button"
        class="btn btn-success"
        style="margin-left: 10px; background-color: rgb(12, 91, 137)"
        (click)="otpCheck()"
      >
       Submit
      </button>
        <button
          type="button"
          class="btn btn-success"
          style="margin-left: 10px; background-color: rgb(12, 91, 137)"
          (click)="resetPass()"
        >
          Resend Otp
        </button>
      </div>
    </div>
    <div *ngIf="mpinFeild == true">
        <div class="pt-2 pb-1">
          <div style="padding-left: 15px; padding-right: 15px">
            <input
              type="password"
              formControlName="pin"
              placeholder="Enter M-pin"
              class="form-control"
              onKeyPress="if(this.value.length==4) return false;"
            />
          </div>
          <div
            *ngIf="formSubmitted && resetForm.get('pin')?.hasError('required')"
            style="color: red; padding-left: 15px"
          >
            Enter M-pin
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center pt-3" style="align-items: center">
        <div *ngIf="mpinFeild == true">
          <button
          type="submit"
          class="btn btn-success"
          style="margin-left: 10px; background-color: rgb(12, 91, 137)"
          (click)="createMpin()"
        >
         Submit
        </button>
      </div>
      </div>
  </form>
</div>
